<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><h1>this is my self approval page</h1>
<p>Do you authorize "messaging-client" to access your protected resources?</p>
<form id="confirmationForm" name="confirmationForm" action="/oauth/authorize" method="post"><input
        name="user_oauth_approval" value="true" type="hidden"/><input type="hidden" name="_csrf"
                                                                      value="69fa2230-070b-448d-9f6b-ae1bed28c95c"/>
    <ul>
        <li>
            <div class="form-group">scope.message.read: <input type="radio" name="scope.message.read" value="true">Approve</input>
                <input type="radio" name="scope.message.read" value="false" checked>Deny</input></div>
        </li>
        <li>
            <div class="form-group">scope.message.write: <input type="radio" name="scope.message.write" value="true">Approve</input>
                <input type="radio" name="scope.message.write" value="false" checked>Deny</input></div>
        </li>
    </ul>
    <label><input name="authorize" value="Authorize" type="submit"/></label></form>
</body>
</html>